body {
 background-color: #efefef;
 
}
:root {
   --body-color: #efefef;
   --nav-color: #1876f2;
   --bg-color: #fff;
  }
    
  body {
    background: var(--body-color);
    transition: 0.3s;
}


.dark-theme{
    --body-color: #0a0a0a;
    --nav-color: #000;
    --bg-color: #000;
}